build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp

.vscode/

*.pth

# Exclude dataset folders
project/dataset/fishency/train/fishes/
project/dataset/fishency/train/masks/
project/dataset/fishency/validation/imgs/
project/dataset/fishency/validation/masks/
project/wandb

# Ignore .DS_Store files
.DS_Store

# Ignore the wandb folder
wandb/